################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Application/Idea
/Application/bin/Debug
/Application/obj/Debug
